<!DOCTYPE html>
<html>
    <head> 
        <title>Пожертвования</title>
    </head>

    <body>

        <div align="center">
            <h5>Здесь будут список волонтерских центров</h5>
            <h5>Куда можно будет пожертвовать любые вещи</h5>
        </div>

        {% for org in orgs %}
        
            <div align="center">
                <p>Организация: {{ org.org_name }}</p>
                <p>Адрес: {{ org.addr }}</p>
                <p>Контактный номер: {{ org.contact_phone }}</p>
                <p>Электронная почта: {{ org.contact_email }} </p>
                <br>
                <hr>
                <br>
            </div>

        {% endfor %}

    </body>

</html>

